body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: azure;
  text-align: center;
  background-image: url(https://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/web_first_images_release.png?itok=g21NrdRw);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  align-content: flex-end;
}
