body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #fcfcfc;
  text-align: center;
  background-image: url(https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;
}

.core {
  text-align: center;
}

.nav {
  position: sticky;
  display: inline-flex;
  text-align: center;
  text-size: 30px;
  color: #fcfcfc;
}

li {
  text-align: left;
  font-size: 30px;
  margin: 10px 10px;
  color: #fcfcfc;
  
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  color: #fcfcfc;
}

li a {
  color: #fcfcf;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #fcfcfc;
}

.me {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #fcfcf;
  text-align: center;
}

.tech {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

article img {
  height: auto;
  width: 25%;
  text-align: left;
}

.css {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fcfcf;
  text-align: left;
  background-image: url(https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;
}

.emo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fcfcf;
  text-align: left;
  background-image: url(https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;

}

.css img {
  height: auto;
  width: 25%;
  text-align: left;
}

.home {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fcfcfc;
  margin: 50px;
}

/*Responsive Styling */

@media (min-width: 1200px) {
  .home {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .home {
    flex-direction: column;
  }
}

@media (min-width: 320px) {
  .home {
    display: block;
  }
}